<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <TextStyle Id="Title_Style" FaceName="Trebuchet MS" Size="14" Red="0" Green="0" Blue="0" Bold="yes" />
      <TextStyle Id="Label_Style" FaceName="Tahoma" Size="10" Red="0" Green="0" Blue="0" Bold="no" />
      <TextStyle Id="Edit_Style" FaceName="News Gothic MT" Size="10" Red="0" Green="0" Blue="0" Bold="no" />

      <Dialog Id="CustNameDlg" Width="400" Height="270" Title="!(loc.WelcomeEulaDlg_Title)">
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="400" Height="234" TabSkip="no" Text="!(loc.WelcomeEulaDlgBitmap)" />
        <Control Id="Title" Type="Text" X="215" Y="25" Width="150" Height="50" Transparent="yes" NoPrefix="yes" Text="{\Title_Style}Cache Updater Settings" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="400" Height="0" />
        <!--
        <Control Id="Back" Type="PushButton" X="156" Y="234" Width="56" Height="17" Disabled="no" Text="!(loc.WixUIBack)" >
          <Publish Event="NewDialog" Value="WelcomeEulaDlg_Custom">Not Installed</Publish>
        </Control>
        -->
        <Control Id="Install" Type="PushButton" ElevationShield="yes" X="212" Y="243" Width="80" Height="17" Disabled="no" Default="yes" Text="!(loc.WelcomeEulaDlgInstall)" Hidden="yes">
          <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">!(wix.WixUICostingPopupOptOut) OR CostingComplete = 1</Publish>
          <Publish Event="EndDialog" Value="Return"><![CDATA[OutOfDiskSpace <> 1]]></Publish>
          <Publish Event="SpawnDialog" Value="OutOfRbDiskDlg">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND (PROMPTROLLBACKCOST="P" OR NOT PROMPTROLLBACKCOST)</Publish>
          <Publish Event="EndDialog" Value="Return">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"</Publish>
          <Publish Event="EnableRollback" Value="False">OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 0 AND PROMPTROLLBACKCOST="D"</Publish>
          <Publish Event="SpawnDialog" Value="OutOfDiskDlg">(OutOfDiskSpace = 1 AND OutOfNoRbDiskSpace = 1) OR (OutOfDiskSpace = 1 AND PROMPTROLLBACKCOST="F")</Publish>
          <Publish Event="SpawnDialog" Value="UserError"><![CDATA[CUSTNAME = ""]]></Publish>
          <!--
          <Publish Event="NewDialog" Value="ProgressDlg">2Not Installed</Publish>
          -->
          <Condition Action="show">ALLUSERS</Condition>
          
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="lblPath" Type="Text"  Width="80" Height="20" X="142" Y="72" Text ="{\Label_Style}Customer Name" Transparent="yes" />
        <Control Id="txtPath" Type="Edit"  Width="150" Height="20" X="230" Y="70" Text="{\Edit_Style}{80}[CUSTNAME]" Property="CUSTNAME"  Sunken="yes" TabSkip="no" />
      </Dialog>
      <Dialog Id="UserError" Width="260" Height="85" NoMinimize="no" Title="[ProductName]">
        <Control Id="UserErrorDesc" Type="Text" Width="194" Height="30" X="48" Y="15" Text="Please enter a customer name." />
        <Control Id="UserErrorOk" Type="PushButton" X="97" Y="57" Width="56" Height="17" Text="OK">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>